* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 0.35fr 1fr 1fr/0.75fr 3fr 1.25fr;
}

.navbar {
  background-color: #ef4444;
  grid-column: 2/4;
}

.sidebar {
  background-color: #fb923c;
  grid-column: 1/2;
  grid-row: 1/4;
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  gap: 2rem;
}
.sidebar .sidebar--title {
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  gap: 0.75rem;
}
.sidebar .large {
  font-size: 2rem;
}
.sidebar ul {
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  gap: 0.75rem;
  grid-auto-flow: row;
  padding: 0.25rem;
  font-size: 1.15rem;
}
.sidebar ul li {
  list-style-type: none;
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  gap: 0.75rem;
  gap: 1.15rem;
}

.projects {
  background-color: #fbbf24;
  grid-row: 2/4;
}

.announcements {
  background-color: #4ade80;
}

.trending {
  background-color: #22d3ee;
}

nav {
  padding: 1rem 2rem;
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  gap: 0.75rem;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}
nav header {
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  gap: 0.75rem;
  grid-template-columns: 3fr 1fr;
}
nav .navbar--search {
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  gap: 0.75rem;
  grid-template-columns: -webkit-min-content 0.75fr;
  grid-template-columns: min-content 0.75fr;
}
nav .navbar--search input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background-color: #e2f8f0;
  border-radius: 1rem;
  padding: 0 1rem;
}
nav .account--btns {
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  gap: 0.75rem;
  grid-auto-flow: column;
  justify-content: end;
}
nav .lower-header {
  grid-template-columns: 1fr 0.5fr;
}
nav .user--greeting {
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  gap: 0.75rem;
  grid-auto-flow: column;
  align-items: center;
}
nav .user--icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: blue;
}
nav .user--buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  align-items: center;
}
nav .user--buttons button {
  height: 50%;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
}

.projects {
  padding: 1rem;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  gap: 1rem;
}
.projects .projects--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.projects .project--card {
  background-color: wheat;
  height: max(215px, 10vh);
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}
.projects .project--card .project--card-text {
  grid-column: 1/3;
}
.projects .project--card .project--card-text .project--card-desc {
  font-size: 0.85rem;
}
.projects .project--card .project--card-btns {
  display: grid;
  grid-auto-flow: column;
  width: auto;
  grid-column-start: -2;
}/*# sourceMappingURL=style.css.map */