*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 0.35fr 1fr 1fr/ 0.75fr 3fr 1fr;
}


// adding bgcolor for visualizations
.navbar{
    background-color: #ef4444;  
    grid-column: 2 / 4;
}

@mixin gridText {
    display: grid;
    // align-items: center;
    justify-content: start;
    grid-auto-flow: column;
    gap: 0.75rem;
}
.sidebar{
    background-color: #fb923c;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 1rem;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 2rem;
    .sidebar--title{
       @include gridText();
    }
    .large{
        font-size: 2rem;
    }

    ul{
        @include gridText();
        grid-auto-flow: row;
        padding: 0.25rem;
        font-size: 1.15rem;
    }
    ul li {
        list-style-type: none;
        @include gridText();
        gap: 1.15rem;
       
    }

}

.projects{
    background-color: #fbbf24;
    grid-row: 2 / 4;
}

.announcements{
    background-color: #4ade80;
}

.trending{
    background-color: #22d3ee;
}
